@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$main: #2196F3;
$sec: #3F51B5;
$cut: 768px;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 100px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar {
  width: 100vw;
  a {
    color:white;
    text-decoration: none;
  }
  .icon {
    padding: 10px;
  }
}

.home-container {
  width: 100vw;
  background-color: $main;
}

.home {
  width: 100vw;
  color: #FFF;
  height: 60vh;
  background-color: $main;
  text-align: center;
  overflow:auto;
  h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 1.5em;
    @media only screen and (min-width:$cut){
       font-size: 2em;
     }
  }
}

.poll-options {
  position: relative;
}

.trash {
  position: absolute;
  bottom: 0;
  margin: 10px auto;
  cursor: pointer;
  font-size: 20px;
}

.polls {
  margin: 10px auto;
}

.form {
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  p {
    margin: 0 auto;
  }
  .check-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: $main;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
