@import 'base';
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$main: #2196F3;
$sec: #3F51B5;

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar {
  width: 100vw;
  a {
    color:white;
    text-decoration: none;
  }
  .icon {
    padding: 10px;
  }
}

.home {
  width: 100vw;
  color: #FFF;
  height: 50vh;
  background-color: $main;
  text-align: center;
  h1 {
    margin: 0 auto;
  }
}

.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}
